:root {
    /* globals */
    --w3ui-text-color: #fff;
    --w3ui-text-color-invert: #222;
    --w3ui-border-radius: 6px;
    --w3ui-border-color: rgba(255, 255, 255, 0.25);
    --w3ui-gradient-stop-1: salmon;
    --w3ui-gradient-stop-2: orange;
    --w3ui-gradient-stop-3: violet;
    --w3ui-width: 480px;

    /* fonts */
    --w3ui-header-font-family: 'Arial';
    --w3ui-body-font-size: 1rem;
    --w3ui-body-font-family: 'Arial';
    --w3ui-h1-font-size: 36px;
    

    /* buttons */
    --w3ui-button-color: var(--w3ui-text-color, #fff);
    --w3ui-button-color-hover: var(--w3ui-text-color, #fff);
    --w3ui-button-padding: .75em;
    --w3ui-button-background: salmon;
    --w3ui-button-background-hover: orange;
    --w3ui-button-gradient: linear-gradient(45deg, var(--w3ui-gradient-stop-1) 0%, var(--w3ui-gradient-stop-2) 50%, var(--w3ui-gradient-stop-3) 100%);
    --w3ui-button-border-radius: var(--w3ui-border-radius, 6px);

    /* labels */
    --w3ui-label-color: var(--w3ui-text-color, #fff);
    --w3ui-label-font: 1rem Arial, sans-serif;

    /* inputs */
    --w3ui-input-border: 1px solid #fff;
    --w3ui-input-background-color: #fff;
    --w3ui-input-padding: var(--w3ui-button-padding, 0.75em);
    --w3ui-input-text-color: var(--w3ui-text-color-invert, #000);
    --w3ui-input-border-radius: var(--w3ui-border-radius), 8px;
    --w3ui-focus-outline: 1px solid salmon;
 
    /* signupin */
    --w3ui-signUpIn-display: block;
    --w3ui-signUpIn-padding: 2rem;
    --w3ui-signUpIn-background: rgba(255, 255, 255, 0.05);
    --w3ui-signUpIn-width: 480px;
    --w3ui-signUpIn-height: 200px;
    --w3ui-signUpIn-border-color: var(var(--w3ui-border-color), rgba(255, 255, 255, 0.25));
    --w3ui-signUpIn-border-radius: var(----w3ui-border-radius, 8px);
    --w3ui-signUpIn-primary: salmon;

    /* this acts like a ternary operator but it's ugly */
    /* initial means "ON" and an empty value is "OFF" */
    --enable-inline-form: ;
    /* --enable-inline-form: initial; */
    --form-display: var(--enable-inline-form, 1fr auto);

  }
  
  .w3ui-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;

    --w3ui-signUpIn-display: flex;
  }

  .w3ui-signUpIn-container {
    width: var(--w3ui-width);
    position: relative;
    background-color: #fff;
    padding: var(--w3ui-signUpIn-padding);
    color: var(--w3ui-signUpIn-border);
    border-radius: var(--w3ui-signUpIn-border-radius);
    background-color: var(--w3ui-signUpIn-background);
    color: var(--w3ui-text-color);
    font-family: var(--w3ui-body-font-family);
    font-size: var(--w3ui-body-font-size, 36px);
    line-height: 1.6;
  }

  .w3ui-h1 {
    font-family: var(--w3ui-header-font-family);
    font-size: var(--w3ui-h1-font-size, 36px);
    line-height: 1.1;
    margin: 0;
  }

  .w3ui-signUpIn__form {
    display: grid;
    grid-template-columns: var(--form-display, 1fr);
    align-items: flex-end;
    gap: 8px;
  }

  .w3ui-signUpIn__label {
    display: block;
    color: var(--w3ui-label-color);
    font: var(--w3ui-label-font);
  }
  
  .w3ui-signUpIn__input {
    width: 100%;
    background: var(--w3ui-input-background-color);
    color: var(--w3ui-input-text-color);
    padding: var(--w3ui-input-padding);
    border: var(--w3ui-input-border);
    border-radius: var(--w3ui-signUpIn-border-radius);
    margin: 4px 0 0 0;
  }

  .w3ui-signUpIn__input::placeholder {
    color: var(--w3ui-input-text-color);
    opacity: .5;
  }

  .w3ui-signUpIn__input:focus {
    outline: var(--w3ui-focus-outline);
  }

  .w3ui-signUpIn__checkbox {
    margin-bottom: 0.8rem;
  }
  
  .w3ui-link {
    color: var(--w3ui-signUpIn-primary);
  }
  
  .w3ui-button {
    width: 100%;
    background-color: var(--w3ui-button-background);
    background-image: var(--w3ui-button-gradient);
    background-size: 200% 100%;
    background-position: 0 0;
    color: var(--w3ui-button-color);
    border-radius: var(--w3ui-button-border-radius);
    outline: var(--w3ui-focus-outline);
    border: 0;
    padding: var(--w3ui-button-padding);
    cursor: pointer;
    opacity: 1;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .w3ui-button:hover {
    background-color: var(--w3ui-button-background-hover);
    background-position: 100% 0;
    color: var(--w3ui-button-color-hover);
  }
  
  .w3ui-spinner {
    width: 30px;
    height: 30px;
    max-width: 30px;
    border-radius: 100px;
    overflow: hidden;
    background-color: var(--w3ui-signUpIn-primary);
    background-image: linear-gradient(45deg, var(--w3ui-gradient-stop-1), var(--w3ui-gradient-stop-2));
    mask-image:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2l0ZS1sb2dvLWltYWdlIHRleHQtd2hpdGUiIHdpZHRoPSI0MCIgdmlld0JveD0iMCAwIDI3LjIgMjcuMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjYgMjcuMThBMTMuNTkgMTMuNTkgMCAxMTI3LjIgMTMuNmExMy42MSAxMy42MSAwIDAxLTEzLjYgMTMuNTh6TTEzLjYgMmExMS41OSAxMS41OSAwIDEwMTEuNiAxMS42QTExLjYyIDExLjYyIDAgMDAxMy42IDJ6IiBmaWxsPSJjdXJyZW50Q29sb3IiPjwvcGF0aD48cGF0aCBkPSJNMTIuODIgOS45djIuNTNoMS42VjkuOWwyLjA5IDEuMjEuNzctMS4yMS0yLjE2LTEuMzIgMi4xNi0xLjMyLS43Ny0xLjIxLTIuMDkgMS4yMVY0LjczaC0xLjZ2Mi41M2wtMi0xLjIxTDEwIDcuMjZsMi4yIDEuMzJMMTAgOS45bC43OCAxLjIxek0xOCAxNy43OXYyLjUyaDEuNTZ2LTIuNTJMMjEuNjMgMTlsLjc4LTEuMi0yLjE2LTEuMzMgMi4xNi0xLjI4LS43OC0xLjE5LTIuMDggMS4ydi0yLjU4SDE4djIuNTZMMTUuOSAxNGwtLjc3IDEuMiAyLjE2IDEuMzItMi4xNiAxLjMzLjc3IDEuMTV6TTguMTMgMTcuNzl2Mi41MmgxLjU2di0yLjUyTDExLjgyIDE5bC43Ny0xLjItMi4xNi0xLjMzIDIuMTItMS4yOC0uNzMtMS4yNC0yLjEzIDEuMjN2LTIuNTZIOC4xM3YyLjU2TDYuMDUgMTRsLS43OCAxLjIgMi4xNiAxLjMtMi4xNiAxLjMzLjc4IDEuMTd6IiBmaWxsPSJjdXJyZW50Q29sb3IiPjwvcGF0aD48L3N2Zz4=);
    mask-size: cover;
    animation: w3-rotate 1.2s infinite ease-in-out;
  }
  
  @keyframes w3-rotate {
    0% { 
      transform: rotate(0deg);
    } 50% { 
      transform: rotate(-180.1deg);
    } 100% { 
      transform: rotate(-360deg);
    }
  }
  
  
  .truncate {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
  }