@import url(base.css);

.w3ui-space-creator-creating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w3ui-space-creator-creating>*+* {
  margin-top: 1rem;
}

.w3ui-space-creator-creating-icon {
  animation: spin 1s linear infinite;
  width: 1.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.w3ui-space-creator-form {
  display: flex;
  flex-direction: column;
}

.w3ui-space-creator-form>*+* {
  margin-top: 0.5rem;
}

.w3ui-space-creator-email {
  color: black;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.w3ui-space-creator-name {
  color: black;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.w3ui-space-creator-add {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}